@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$main-background: #F6F6F6;

$yellow: #FFFF00;
$primary-btn: #1E1E1E;
$primary-btn-hover: #414141;
$input-background: #F6F6F6;
$input-border: #ccc;

$font-gray: #929397;
$font-solid-gray: #545454;
$font-black: #2D2E30;

$white: #FFF;